:root{
    --melon: hsla(5, 100%, 81%, 1);
    --eggshell: hsla(46, 74%, 92%, 1);
    --aero-blue: hsla(168, 69%, 84%, 1);
    --powder-blue: hsla(188, 45%, 78%, 1);
    --black-coral: hsla(222, 10%, 41%, 1);
    --green: #52b788;
    --crimson: #9b2226;
    background-color: var(--black-coral);
}


p{
font-family: 'Source Code Pro', monospace;
    color: var(--black-coral);
}

.barcodeText{
    font-family: 'Libre Barcode 128 Text', cursive;
    color: var(--black-coral);
    font-size: 2rem;
    background-color: var(--melon);
}


#navBar {
    display: flex;
    margin: 2rem auto 2rem;
    width: 15%;
    background-color: var(--eggshell);
    border-radius: 5rem;
}

#navBar:hover{
    background-color: hsla(46, 74%, 80%, 1);
}

.outer{
    width: 70%;
    height: 60%;
    margin: 2rem auto 0;
    background-color: transparent;
}

.contentContainer{
    background-color: var(--eggshell);
    position: absolute;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.breadcrumb {
    align-items: center;
    display: flex;
}

.breadcrumb__separator {
    margin: 0 1rem;
    font-size: 3rem;
    color: var(--black-coral);
}

.aboutMeGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: repeat(2, minmax(1fr, 1fr));
    grid-gap: 1rem 2rem;
}
#thingsILike{
    background: var(--green);
    grid-area: 1/1/2/2;
}

#thingsIdoNotLike{
    background: var(--crimson);
    grid-area: 3/3/4/4;
}


.bulletList{
    font-family: 'Source Code Pro', monospace;
    color: var(--eggshell);
    font-size: 0.8vw;
    border-radius: 1rem;
    padding: 0rem;
    text-align: left;
}

